---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/default.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<DefaultLayout title={entry.data.title}>
  <span class="text-sm">Published on <FormattedDate date={entry.data.date} /></span>
  <h1>{entry.data.title}</h1>
  <Content />
</DefaultLayout>
